@model IEnumerable<StaffViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a href="/Staff/UpdateStaff/@item.StaffId" class="btn mb-1 btn-rounded btn-outline-success">Edit</a>
                  
            </td>
            <td>
                 <a href="" class="btn mb-1 btn-rounded btn-outline-dark">Detail</a>
            </td>
            <td>
               <a href="/Staff/DeleteStaff/@item.StaffId" class="btn mb-1 btn-rounded btn-outline-danger">Delete</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
<a href="/staff/AddStaff/" class="btn mb-1 btn-rounded btn-outline-info">New Staff</a>

